header {
 display: flex;
 height:45px;
 background: #111111;
 width: 100%;
 flex-direction: row;
 justify-content: space-between;
}

.signin-links {
  display: flex;
  flex-direction: row;
}

.header-button {
  background-color: inherit;
  border: 0;
  width: 90px;
  height: 50px;
  color: #E3E5E1;
  font-size: 13px;
  cursor: pointer;
}

.header-button:hover {
  color: white;
  text-decoration: underline;
}

.header-button:focus {
  outline: 0;
}

.header-logo {
  display: flex;
  align-items: center;
}


.loggedin-group {
  display: flex;
  align-items: center;
}

.header-link-name {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  margin: 0 15px;
  color: #E3E5E1;
  text-decoration: none;
}

.header-link-name:hover {
  color: white;
}
