header {
 display: flex;
 height:50px;
 background:#6b6b6b;
 width: 100%;
 flex-direction: row;
 justify-content: space-between;
}

.signin-links {
  display: flex;
  flex-direction: row;
}

.header-button {
  background-color: inherit;
  border: none;
  width: 90px;
  height: 50px;
  color: white;
  font-size: 13px;
  cursor: pointer;
}

.header-button:hover {
  background-color: #8c8c8c;
}

.header-button:focus {
  outline: 0;
}

.header-logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.header-link {
  margin-left: 12px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.loggedin-group {
  display: flex;
  align-items: center;
}
