/* CSS Reset inspired from http://cssreset.com/scripts/eric-meyer-reset-css/ */

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li, fieldset, form,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output,section,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, hgroup, menu, nav, section {
 display: block;
}

html {
  height: 100%;
}

ol, ul {
 list-style: none;
}

table {
 border-collapse: collapse;
 border-spacing: 0;
}

body {
  line-height: 1;
  background-color: #E3E5E1;
  font-family: 'Roboto', sans-serif;
  color: #111111;
  height: 100%;
}

button, input {
  font-family: inherit;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

main {
  height: 100%;
}

input[type="text"]{
  font-size: 14px;
}

input[type="password"] {
  font-size: 14px;
}

input[type="file"] {
  font-size: 14px;
}

input[type="submit"] {
  font-size: 14px;
}

textarea {
  font-size: 14px;
  resize: none;
}
