.login-form-container {
  background-color: #6b6b6b;
  padding: 30px 30px 30px 30px;
  color: white;
}


.login-form-container a {
  color: white;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}


.session-submit {
  outline: 1px solid #DB5555;
  border: 1px solid #DB5555;
  background-color: #DB5555;
  color: white;
  margin-top: 10px;
  width: 200px;
  cursor: pointer;
}

.bottom-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-input {
  outline: none;
	border: 0;
  background: transparent;
  margin: 10px 0;
  color: white;
}

.login-form-container hr {
  color: #E3E5E1;
  background-color: #E3E5E1;
}

.login-input::-webkit-input-placeholder {
  color: rgba(196, 196, 196, 0.5);
}

i {
  width: 25px;
}

.login-form-container li {
  font-size: 12px;
  margin-top: 5px;
  color: #DB5555;
}
.login-form-container li:last-child {
  margin-bottom: 15px;
}
