.discover-page {
  padding: 35px 5px 0 5px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.discover-detail {
  margin: 20px 15px;
  width: 240px;
}

.discover-page h1 {
  font-size: 48px;
  font-family: 'Permanent Marker', cursive;
  color: #DB5555;
}

.discover-page p {
  font-size: 20px;
  padding: 5px 0 15px 0;
}

.discover-page h1:hover {
  color: #111111;
}

.discover-detail img {
  width: 240px;
  height: 240px;
  object-fit: cover;
}

.discover-detail a {
  text-decoration: none;
}

.discover-detail a:active {
  color: inherit;
}

.discover-title {
  font-size: 15px;
}

a.discover-title {
  color: #111111;
}

a.discover-title:visited {
  color: #111111;
}

a.discover-title:hover {
  color: #606060;
}

.discover-artist {
  font-size: 12px;
  color: #DB5555;
}

a.discover-artist:visited {
  color: #DB5555;
}

a.discover-artist:hover {
  color: #af4444;
}

.discover-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.discover-detail-container {
  width: 240px;
  height: 240px;
  position: relative;
}


.hidden-play-control {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.hidden-play-control i {
  display: none;
  font-size: 60px;
  text-align: center;
}


.discover-detail-container:hover i {
  display: block;
  color: white;
  z-index: 1;
}

.discover-detail-container:hover img {
  -webkit-filter: brightness(70%) blur(2px);
    filter: brightness(70%) blur(2px);
    z-index: -1;
}
