.audio-player-container{
  position:fixed;
   left:0px;
   bottom:0px;
   height:45px;
   width:100%;
   background-color: #3d3d3d;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 10;
}

#hidden-player {
  display: hidden;
}

.controls-ul {
  display:flex;
}


.controls-ul i:hover{
  cursor: pointer;
  color: #DB5555;
}

progress {
  background-color: #f3f3f3;
  color: #DB5555;
  border: 0;
  height: 10px;
  border-radius: 9px;
  width: 400px;
}

progress:hover {
  cursor:pointer;
}
progress::-webkit-progress-value { background: #DB5555; }
progress::-moz-progress-bar { background: #DB5555; }

.progress-bar {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 12px;
}

.audio-div {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.audio-div i {
  margin: 0 5px;
}

.audio-info {
  display: flex;
  align-items: center;
}

.audio-info img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 6px;
}

.audio-info p {
  font-size: 12px;
  margin-left: 6px;
  font-weight: 300;
}

.audio-info a {
  text-decoration: none;
  color: white;
}

.audio-info a:first-child {
  height: 40px;
}

.audio-info a:last-child {
  width: 100px;
}

.audio-info a:hover {
  text-decoration: underline;
}

.audio-info a:visited {
  color: white;
}

// Volume Player credits to danielstern.ca/range.css/#
input[type=range] {
  -webkit-appearance: none;
  width: 70px;
  margin: 4.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #db5555;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 0px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 18px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #db5555;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #db5555;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 0px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 18px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #db5555;
  border: 0px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #db5555;
  border: 0px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 0px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 18px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #db5555;
}
input[type=range]:focus::-ms-fill-upper {
  background: #db5555;
}
