.user-header-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 700px;
  background-image: linear-gradient(#ea7779, #762d2e);
  transform: skewY(-8deg);
  transform-origin: top left;
  z-index: -1;
}

.user-detail-main {
  max-width: 1200px;
  width: 100%;
  margin: 40px auto 30px auto;
  padding: 0 20px;
}

.user-songs {
  max-width: 1200px;
  width: 100%;
  margin: 20px auto 30px auto;
  padding: 0 20px;
}

.user-songs h1 {
  font-size: 48px;
  font-family: 'Permanent Marker', cursive;
  color: #111111;
  margin-left: 30px;
  margin-bottom: 20px;
}

.user-detail-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .user-detail-container {
    flex-wrap: wrap;
  }
}

.user-detail-prof-pic {
  width: 375px;
  height: 375px;
  object-fit: cover;
  margin: 0 20px;
}

.user-detail-cover-pic {
  height: 150px;
  width: 375px;
  object-fit: cover;
  margin-bottom: 20px;
}

.user-detail-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
  width: 375px;
}

.user-detail-info h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  color: #111111;
  margin-bottom: 10px;
}

.user-detail-info h5 {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 300;
  color: white;
}

hr {
  max-width: 1200px;
  width: 100%;
}

.follow-button {
  background-color: #DB5555;
  border: 0;
  padding: 10px 30px;
  color: #E3E5E1;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  margin-bottom: 5px;
}

.follow-button:hover {
    color: white;
}
